@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Lemon&display=swap");

#root {
  --black: #0c0c0c;
  --green: rgb(9, 184, 9);
  --white: #f2f2f2;
  --blue: rgb(20, 20, 182);
}

body {
  margin: 0;
}

.list-title {
  font-family: "Lemon", serif;
  color: var(--black);
}

.list-item {
  font-family: "Inconsolata", monospace;
  color: var(--black);
}

.list-item-img {
  height: 200px;
  width: 250px;
}

.button-check {
  border: none;
  border-radius: 23px;
  background-color: var(--green);
}

.button-check:hover {
  background-color: var(--white);
}

.button-edit {
  border: none;
  border-radius: 23px;
  background-color: var(--blue);
}

.button-edit:hover {
  background-color: var(--white);
}

.input-test {
  padding: 10px 15px;
  margin: 3px 2px;
  border: none;
  box-shadow: 0.5px 1px rgba(0, 0, 0, 0.418);
  outline: none;
}
